<div class="filtering-panel">
  <div class="filtering-panel__companies">
    amd
    <input checked="checked" type="checkbox" class="checkbox checkbox-md outline-1 outline-primary-content outline"/>
    intel
    <input checked="checked" type="checkbox" class="checkbox checkbox-md outline-1 outline-primary-content outline"/>
    nvidia
    <input checked="checked" type="checkbox" class="checkbox checkbox-md outline-1 outline-primary-content outline"/>
    asus
    <input checked="checked" type="checkbox" class="checkbox checkbox-md outline-1 outline-primary-content outline"/>
    msi
    <input checked="checked" type="checkbox" class="checkbox checkbox-md outline-1 outline-primary-content outline"/>
  </div>
</div>
