<div class="filtering-panel">
  <div class="filtering-panel__companies">
    #cpu
    <input (change)="filterByType('cpu')" name="type"  type="radio" class="radio  outline-1 outline-primary-content outline"/>
    #gpu
    <input (change)="filterByType('gpu')" name="type"  type="radio" class="radio  outline-1 outline-primary-content outline"/>

    <div class="rating rating-sm">
      <input (change)="filterByRating(1)" type="radio" name="rating-9" class="mask mask-star-2" />
      <input (change)="filterByRating(2)" type="radio" name="rating-9" class="mask mask-star-2" />
      <input (change)="filterByRating(3)" type="radio" name="rating-9" class="mask mask-star-2"  />
      <input (change)="filterByRating(4)" type="radio" name="rating-9" class="mask mask-star-2" />
      <input (change)="filterByRating(5)" type="radio" name="rating-9" class="mask mask-star-2" />
    </div>

    <span class="text-white">Choose rating</span>

  </div>
</div>
