<div class="sorting-panel">

  <select #selectSortingPriceParameter (change)="sortByPrice(selectSortingPriceParameter.value)" class="sorting-panel__selection" name="price-sorting">
    <option value="toHighPriceSortingMode">price  &uarr; </option>
    <option value="toLowPriceSortingMode">price &darr; </option>
  </select>

  <select #selectSortingNameParameter (change)="sortByName(selectSortingNameParameter.value)" class="sorting-panel__selection"  name="name-sorting">
    <option value="toHighPriceSortingMode">name &uarr;</option>
    <option value="toLowPriceSortingMode">name &darr;</option>
  </select>

</div>
