<div class="hero">
  <video class="hero__background" src="./assets/videos/hero-video/background-hero-video.webm"
         [autoplay]="true" [loop]="true" [muted]="true">

  </video>
  <div class="hero__center_text">
    <span class="text-primary">{{'Play what when and where you want' | uppercase}}</span>
  </div>
  <div class="hero__bottom_items">

    <div class="hero__items_item">
      #NVIDIA
    </div>
    <div class="hero__items_item">
      #INTEL
    </div>
    <div class="hero__items_item">
      #AMD
    </div>
    <div class="hero__items_item">
      #Gigabyte
    </div>
    <div class="hero__items_item">
      #MSI
    </div>
    <div class="hero__items_item">
      #ASUS
    </div>
    <div class="hero__items_item">
      #ASRock
    </div>
  </div>
</div>
