<nav class="nav">

  <div class="nav__left-side_items">
    <div class="nav__burger">
      <button (click)="changeBurgerVisibilityToOpposite()" class="btn btn-circle outline-accent outline">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h7"/>
        </svg>
      </button>
      <div *ngIf="isBurgerVisible" class="nav__burger-content">
        <ul>
          <li>
            <a routerLink="home">#Home</a>
          </li>
          <li>
            <a routerLink="catalog">#Catalog</a>
          </li>
          <li>
            <a routerLink="account">#Account</a>
          </li>
          <li>
            <a routerLink="login">#Login</a>
          </li>
          <li>
            <a routerLink="register">#Register</a>
          </li>
          <li>
            <a routerLink="register">#Logout</a>
          </li>

        </ul>
        <button class="nav__burger-content_close-button" (click)="changeBurgerVisibilityToOpposite()">X</button>
      </div>
    </div>

    <div class="nav__logo">
      FOG
      <span class="text-sm">
      store
    </span>
    </div>

  </div>

  <div class="nav__right-side_items"></div>
  <ul class="nav__links">
    <li class="nav__links_link">
      <a routerLink="home"><span class="text-info">#</span>HOME</a>
    </li>

    <li class="nav__links_link">
      <a routerLink="catalog"> <span class="text-info">#</span>catalog</a>
    </li>

      <li *ngIf="isUserLoggedIn" class="nav__links_link">
      <a routerLink="account"> <span class="text-info">#</span>{{userEmail}}</a>
    </li>

    <li *ngIf="!isUserLoggedIn"  class="nav__links_link">
      <a routerLink="login"> <span class="text-info">#</span>Login</a>
    </li>

    <li *ngIf="!isUserLoggedIn" class="nav__links_link">
      <a routerLink="register"> <span class="text-info">#</span>Register</a>
    </li>

    <li *ngIf="isUserLoggedIn" class="nav__links_link">
      <button (click)="logout()" > <span class="text-info">#</span>Logout</button>
    </li>

    <li  class="nav__links_link">
      <div routerLink="/checkout" class="indicator">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z" /></svg>
        <span class="badge badge-sm indicator-item">{{checkoutQuantity}}</span>
      </div>
    </li>


  </ul>
  <div class="theme__switcher_wrapper">
    <span class="text-info">#</span>
    <span class="mr-2.5 w-16 text-primary">
      {{ currentTheme }}
    </span>
    <input (change)="changeCurrentTheme()" type="checkbox" value="AMD" class="bg-primary toggle theme-controller"/>
  </div>
</nav>
