.nav {
  width: 100%;
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 5px;

  &__logo {
    font-family: "JetBrains Mono", sans-serif;
    max-width: 300px;
    max-height: 50px;
    overflow: hidden;
    @apply text-accent text-4xl flex justify-center items-center
  }

  &__left-side_items {
    z-index:100;
    @apply flex justify-center items-center gap-2.5
  }

  &__right-side_items {
    @apply flex justify-center items-center gap-2.5
  }

  &__links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;

    &_link {
      text-decoration: none !important;
      @apply btn-link underline-offset-8 duration-300 hover:text-white hover:cursor-pointer
    }
    @media (max-width: 768px) {
      display: none;
    }
  }
  &__burger {
    @media (min-width: 768px) {
      display: none;
    }
  }
  &__burger-content{
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top:0;
    left:0;
    &_close-button{
      font-family: Ayuthaya, monospace;
      font-weight: bolder;
      position: absolute;
      top:15px;
      left:15px;
    }
    ul{
      font-size: 2em;
      display:flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 10px;
    }
    @apply bg-base-100 text-accent
  }

  @apply navbar bg-neutral
}

.theme__switcher {
  &_controller {
    @apply row-start-1 col-start-1 col-span-2 mx-2.5
  }
}
